/* Referenced https://www.w3schools.com/css/ 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header 
and other https://www.w3schools.com resources */

body {
    background-color: lightblue;
}

img {
    border-radius: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: violet;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: block;
    font-weight: bold;
    
}
  
