/* Referenced https://www.w3schools.com/css/ 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header */

body {
    background-color: lightblue;
}

img {
    border-radius: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}